
@import url(root.css);

/*
@import url(screen.css);
@import url(desktop.css);
*/

@import url(calendar/calendar.css);
@import url(calendar/calendar.debug.css);
@import url(calendar/date.css);
@import url(calendar/date.debug.css);

@import url(counter/counter.css);
@import url(counter/counter.debug.css);

@import url(tag/tag.css);
@import url(tag/tag.debug.css);

@import url(themes/minimalist/minimalist.css);

body
	{
	font-family: sans-serif;
	}

section
	{
	margin: 0 0 3rem 0;
	padding: 1rem 0;
	border-bottom: 2px solid hotpink;
	}
